.navi-bar {
    z-index: 50;
    right: 0;
    top: 0;
    position: fixed;
    left: 0;
}
.head-container {
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    max-width: 1280px;
}
.head-flex {
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    justify-content: space-between;
    padding-right: 1rem;
}
.head-left-flex {
    justify-content: space-between;
    flex-grow: 1;
    display: flex;
}
a.ha {
    height: 34px;
}
img.flw {
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    height: 100%;
    display: block;
}
img.flb {
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    height: 100%;
    display: block;
    display: none;
}
.fit {
    align-items: center;
    display: flex;
}
button.mbt {
    display: none;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    margin-left: auto;
}
svg.svg-g {
    width: 1.5rem;
    height: 1.5rem;
}
.bh {
    display: block;
}
.tsh-flex {
    padding-top: 0;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    justify-content: center;
    height: 100%;
    margin-top: 0;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    flex-direction: row;
}
a.fjfa {
    font-family: Roboto, sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.875rem;
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    border-style: none;
    width: 100%;
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
    line-height: 1.25rem;
}
.flal {
    justify-content: space-between;
    display: flex;
}
span.gls-h {
    display: none;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}
