
body {
    font-family: 'Roboto' , 'Noto Sans JP',sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.text-center {
    &.section-title.font-roboto.mb-0 {
        text-align: center;
        font-weight: 700;
        letter-spacing: .1em;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.productsbg {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(0,0,77,1);
    color: rgba(255,255,255,1);
    padding: 5rem 1rem;
    overflow: hidden; 
}

.section-wrapper {
    padding: 5rem 1rem;
}


.youtube iframe {
    width: 100%;
    height: 100%;
}

.youtube {
    width: 100%;
    aspect-ratio: 16/9;
}

.section-sub-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    letter-spacing: .1em;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}

nav.fixed.bottom-3.sm\:bottom-auto.sm\:top-16.bg-gray-100.rounded-full.shadow-xl.text-sm.px-8.py-3.m-2.ml-0.z-50.transition-opacity.ease-in-out.duration-300 {
    left: 882.344px;
    right: auto;
}

footer.footer {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,77,var(--tw-bg-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
}
.footer-container {
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.footer-flex {
    text-align: left;
    order: -9999;
    display: flex;
    flex-wrap: wrap;
}
.footer-fle-con {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    order: -9999;
}
h2.footer-h2 {
    letter-spacing: .1em;
    font-weight: 700;
}
.maps {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
    width: 100%;
}
h2.footeer-h2 {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
    letter-spacing: .1em;
    font-weight: 700;
}
ul.footer-ul {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
    list-style-type: none;
    display: flex;
    --tw-text-opacity: 1;
    color: rgba(229,231,235,var(--tw-text-opacity));
}
li.footer-li {
    display: flex;
    margin-bottom: 0.5rem;
}
li.footer-lii {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
    display: flex;
    margin-bottom: 0.5rem;
}
.jfooter {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
    justify-content: flex-start;
    display: flex;
}
.jf-flex {
    justify-content: center;
    display: flex;
}
a.jfs-a {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    border-radius: 9999px;
    line-height: 1.5rem;
    border-width: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,77,var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(255,255,255,var(--tw-border-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}
.md-flex-fo {
    justify-content: flex-end;
    width: 50%;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}
.flfl-fo {
    flex-direction: column;
    display: flex;
}
h2.flfl-h2 {
    margin-bottom: 0.75rem;
    letter-spacing: .1em;
    display: inline-block;
    font-weight: 700;
}
ul.flfl-ul {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 2.5rem;
}
li.fkfk-li {
    display: flex;
    margin-bottom: 0.5rem;
}
label.flfl-l {
    flex-shrink: 0;
    width: 6rem;
}
p.flflfl-p {
    flex: 1 1 0%;
    font-weight: 300;
}
.prpf {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,77,var(--tw-bg-opacity));
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
}
.prpf-flex {
    flex-direction: row;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
p.copy-r {
    margin-top: 0;
    font-size: .875rem;
    line-height: 1.25rem;
}
span.cps {
    justify-content: flex-start;
    margin-left: auto;
    margin-top: 0;
    font-size: .75rem;
    line-height: 1rem;
    display: inline-flex;
}
a.sp-a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
a.sp-aa1 {
    --tw-divide-opacity: 1;
    border-color: rgba(255,255,255,var(--tw-divide-opacity));
    --tw-divide-x-reverse: 0;
    border-right-width: calc(1px * var(--tw-divide-x-reverse));
    border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
