@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&family=Roboto:wght@100;300;400;500&display=swap);
body {
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: Noto Sans JP,Roboto,sans-serif !important;
}

.video-wrapper {
  padding: 0;
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

video.video-size {
  position: absolute;
  max-width: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.main-title {
  font-size: 3rem;
  text-align: center;
  border-bottom: medium solid white;
  font-weight: 800;
}

.sub-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

h1.text-srevice, h1.text-news {
  font-size: 1.875rem;
  font-weight: 800;
  text-align: center;
  color: white;
}

.text-srevice-sub {
  font-weight: 700;
  text-align: center;
  color: white;
}

.text-news {
  text-align: center;
  color: white;
}

.text-news-sub {
  font-weight: 700;
  text-align: center;
  color: white;
}

.read {
  text-align: center;
  padding-top: 30px;
}

.readmore {
  border: 0 solid;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 2px;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  border-radius: 30px;
}

.readmore-blue {
  border: 0 solid;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 2px;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #000041;
  border-radius: 30px;
}

.wrapper-service {
  background-color: #000041;
  padding: 5rem 1rem;
}

.wrapper-news {
  background-color: #000041;
  padding-left: 4rem;
  padding-right: 4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5rem 1rem;
}

h1.section-main {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: white;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  position: absolute;
  top: 70%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner {
  position: relative;
}

.service-text {
  color: white;
}

.news-text {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  width: 362.663px;
}

.news-text-sub {
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
}

.company-wrapper {
  padding: 5rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.company-text {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
}

.company-text-sub {
  text-align: center;
  margin: 0;
  font-weight: 700;
  margin: 0;
  color: white;
}

.company-content {
  text-align: center;
  margin: 0;
}

.mb-8 {
  margin-bottom: 2rem;
}

.image-wrap-news img {
  height: 203.988px;
  width: 362.663px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.srevice-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.wrapper-service-image {
  height: 150px;
  overflow: hidden;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-wrap {
  margin: 0px 2rem;
}

.image-wrap img {
  height: 320px;
  width: 490.656px;
}

.flex-item {
  width: 32%;
}

.inner-text {
  position: absolute;
  color: white;
  font-size: 16px;
}

.inner-text-sub {
  position: absolute;
  color: white;
  font-size: 16px;
}

.inner {
  position: relative;
}

.image-wrap-news {
  margin: 1rem;
}

img.logo_Blue, img.logo_White {
  height: 34px;
  width: 125.762px;
  position: absolute;
}

/*フッターcss*/
footer.footer {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 77, var(--tw-bg-opacity));
  font-size: .875rem;
  line-height: 1.25rem;
}

.footer-container {
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.footer-flex {
  text-align: left;
  -webkit-box-ordinal-group: -9998;
      -ms-flex-order: -9999;
          order: -9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-fle-con {
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-box-ordinal-group: -9998;
      -ms-flex-order: -9999;
          order: -9999;
}

h2.footer-h2 {
  letter-spacing: .1em;
  font-weight: 700;
}

.maps {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
  width: 100%;
}

h2.footeer-h2 {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
  letter-spacing: .1em;
  font-weight: 700;
}

ul.footer-ul {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
}

li.footer-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}

li.footer-lii {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}

.jfooter {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jf-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a.jfs-a {
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  border-radius: 9999px;
  line-height: 1.5rem;
  border-width: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 77, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

a.jfs-a:hover {
  color: rgba(0, 0, 77, var(--tw-text-opacity));
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
}

.md-flex-fo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flfl-fo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2.flfl-h2 {
  margin-bottom: 0.75rem;
  letter-spacing: .1em;
  display: inline-block;
  font-weight: 700;
}

ul.flfl-ul {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 2.5rem;
}

li.fkfk-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}

label.flfl-l {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 6rem;
}

p.flflfl-p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  font-weight: 300;
}

.prpf {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 77, var(--tw-bg-opacity));
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.prpf-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  max-width: 1280px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

p.copy-r {
  margin-top: 0;
  font-size: .875rem;
  line-height: 1.25rem;
}

span.cps {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
  margin-top: 0;
  font-size: .75rem;
  line-height: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

a.sp-a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

a.sp-aa1 {
  --tw-divide-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-divide-opacity));
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/*ヘッダーcss*/
.navi-bar {
  z-index: 50;
  right: 0;
  top: 0;
  position: fixed;
  left: 0;
}

.head-container {
  margin-left: auto;
  width: 100%;
  margin-right: auto;
  max-width: 1280px;
}

.head-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1rem;
}

.head-left-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a.ha {
  height: 34px;
}

img.flw {
  --tw-blur: var(--tw-empty,/*!*/ /*!*/);
  --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
  --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
  --tw-invert: var(--tw-empty,/*!*/ /*!*/);
  --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
  --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  height: 100%;
  display: block;
}

img.flb {
  --tw-blur: var(--tw-empty,/*!*/ /*!*/);
  --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
  --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
  --tw-invert: var(--tw-empty,/*!*/ /*!*/);
  --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
  --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  height: 100%;
  display: block;
  display: none;
}

.fit {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button.mbt {
  display: none;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  margin-left: auto;
}

svg.svg-g {
  width: 1.5rem;
  height: 1.5rem;
}

.bh {
  display: block;
}

.tsh-flex {
  padding-top: 0;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

a.fjfa {
  font-family: Roboto, sans-serif;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.875rem;
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  border-style: none;
  width: 100%;
  --tw-space-x-reverse: 0;
  margin-right: calc(3rem * var(--tw-space-x-reverse));
  margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
  line-height: 1.25rem;
}

.flal {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

span.gls-h {
  display: none;
}

span.gls:hover {
  color: #6366F1;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

main.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

section.bunner {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

video.video {
  opacity: .5;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.bunner-tit {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  z-index: 10;
  position: relative;
}

h1.center-h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom-width: 1px;
  padding-bottom: 0.75rem;
  text-align: center;
  line-height: 1;
}

p.center-p {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  line-height: 1.75rem;
}

br.center-br {
  display: none;
}

section.service-s {
  --tw-bg-opacity: 1;
  padding: 5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --tw-text-opacity: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: rgba(0, 0, 77, var(--tw-bg-opacity));
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.sec-con-ser {
  margin-left: auto;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
}

.sec-con-ser-mm {
  margin-bottom: 2rem;
}

h1.sec-con-ser-mm-h1 {
  font-family: Roboto,sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: .1em;
  line-height: 2.25rem;
}

p.sec-con-ser-mm-p {
  font-weight: 700;
  text-align: center;
}

.sec-con-ser-gri {
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 4rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

a.sec-con-ser-gri-a {
  opacity: .95;
}

.sec-con-ser-gri-div {
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  padding: 1rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  --tw-bg-opacity: 1;
  border-radius: 0.5rem;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

img.sec-con-ser-gri-img {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  height: 100%;
  --tw-scale-x: 1;
  top: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  --tw-scale-y: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img.sec-con-ser-gri-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.sec-con-ser-gri-div22 {
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--tw-gradient-stops)));
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: #1f2937;
  --tw-gradient-stops: var(--tw-gradient-from),transparent,var(--tw-gradient-to,transparent);
  opacity: .5;
  --tw-gradient-to: transparent;
}

.sec-con-ser-gri-div2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

span.sec-con-ser-gri-sp {
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
}

span.sec-con-ser-gri-sp2 {
  font-size: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  line-height: 1.75rem;
}

.sec-con-ser-mt {
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
  margin-top: 0.75rem;
}

.secsec-mt {
  margin-top: 2.5rem;
}

.secsec-mt-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a.more-secsec {
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  border-width: 2px;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9999px;
  padding-top: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  background-color: rgba(0, 0, 77, var(--tw-bg-opacity));
  padding-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

a.more-secsecc:hover {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 77, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

a.more-secsec:hover {
  color: rgba(0, 0, 77, var(--tw-text-opacity));
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
}

section.company-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 1rem;
}

.comp-container {
  margin-left: auto;
  max-width: 1280px;
  margin-right: auto;
  width: 100%;
}

.comp-mb {
  margin-bottom: 2rem;
}

h1.comp-sec-h1 {
  font-family: Roboto,sans-serif;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 2.25rem;
  margin-bottom: 0;
}

p.comp-sec-p {
  font-weight: 700;
  text-align: center;
}

p.comp-tr-p {
  text-align: center;
}

a.more-secsecc {
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9999px;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 77, var(--tw-text-opacity));
  font-size: 1rem;
  background-color: transparent;
  line-height: 1.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 77, var(--tw-border-opacity));
  padding-left: 1rem;
  border-width: 2px;
  padding-right: 1rem;
  font-weight: 500;
}

section.news-sec {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  padding: 5rem 1rem;
  background-color: rgba(0, 0, 77, var(--tw-bg-opacity));
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
/*# sourceMappingURL=home.css.map */