html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden !important;
  position: relative;
}

body {
  font-family: noto sans jp;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.bottom {
  margin-bottom: 3rem !important;
  display: block;
}

div {
  display: block;
}

#tns {
  width: calc(400%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tns01 {
  padding: 0 !important;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns02 {
  overflow: hidden;
}

#tns1-iw {
  margin: 0px -10px 0px 20px;
}

#other {
  width: calc(400%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 0px;
}

#tns {
  white-space: nowrap;
  -webkit-transition: all 0s;
  transition: all 0s;
}

#tns1 > .tns-item {
  padding-right: 30px;
  width: calc(6.25%);
  font-size: 16px;
}

.inte {
  cursor: pointer;
  text-align: center !important;
  width: 100% !important;
  display: block !important;
}

a {
  text-decoration: none !important;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.img1 {
  width: 138px;
  height: 138px;
  margin: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.my01 {
  color: #6c757d !important;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.job1 {
  color: grey;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
  display: inline-block !important;
}

.options2 {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem !important;
  width: 50% !important;
  max-width: 100%;
  height: auto;
}

.tns-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47%;
  vertical-align: top;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tnsna {
  text-align: center;
}

.tnsna:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.tnsna button {
  border: 0.9px solid grey;
  margin: 0 2px;
}

button {
  text-transform: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
          writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: default;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: -internal-light-dark(#efefef, #3b3b3b);
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
     border-image: initial;
}

.tns01 [aria-controls], .tns01 [data-action] {
  cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

tns-outer [aria-controls], .tns01 [data-action] {
  cursor: pointer;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.slick-slide {
  text-align: center;
  background: white;
}
/*# sourceMappingURL=recruit.css.map */