body {
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.video-wrapper {
  padding: 0;
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

video.video-size {
  position: absolute;
  max-width: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.main-title {
  font-size: 3rem;
  text-align: center;
  border-bottom: medium solid white;
  font-weight: 800;
}

.sub-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

h1.text-srevice, h1.text-news {
  font-size: 1.875rem;
  font-weight: 800;
  text-align: center;
  color: white;
}

.text-srevice-sub {
  font-weight: 700;
  text-align: center;
  color: white;
}

.text-news {
  text-align: center;
  color: white;
}

.text-news-sub {
  font-weight: 700;
  text-align: center;
  color: white;
}

.read {
  text-align: center;
  padding-top: 30px;
}

.readmore {
  border: 0 solid;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 2px;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  border-radius: 30px;
}

.readmore-blue {
  border: 0 solid;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 2px;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #000041;
  border-radius: 30px;
}

.wrapper-service {
  background-color: #000041;
  padding: 5rem 1rem;
}

.wrapper-news {
  background-color: #000041;
  padding-left: 4rem;
  padding-right: 4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5rem 1rem;
}

h1.section-main {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: white;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  position: absolute;
  top: 70%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner {
  position: relative;
}

.service-text {
  color: white;
}

.news-text {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  width: 362.663px;
}

.news-text-sub {
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
}

.company-wrapper {
  padding: 5rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.company-text {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
}

.company-text-sub {
  text-align: center;
  margin: 0;
  font-weight: 700;
  margin: 0;
}

.company-content {
  text-align: center;
  margin: 0;
}

.mb-8 {
  margin-bottom: 2rem;
}

.image-wrap-news img {
  height: 203.988px;
  width: 362.663px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.srevice-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.wrapper-service-image {
  height: 150px;
  overflow: hidden;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-wrap {
  margin: 0px 2rem;
}

.image-wrap img {
  height: 320px;
  width: 490.656px;
}

.flex-item {
  width: 32%;
}

.inner-text {
  position: absolute;
  color: white;
  font-size: 16px;
}

.inner-text-sub {
  position: absolute;
  color: white;
  font-size: 16px;
}

.inner {
  position: relative;
}

.image-wrap-news {
  margin: 1rem;
}
/*# sourceMappingURL=home.css.map */